*

!gui.py
!script-gallerydl.ps1
!script-webcapture.ps1
!script-webcapture.ts
!script-ytdlp.ps1
!interactive-blacklist.txt
!interactive-whitelist.txt
!README.md
!CHANGELOG.md
!LICENSE
!PRIVACY.md
!.gitattributes
!.gitignore

!firefox-extension/
!firefox-extension/background.js
!firefox-extension/manifest.json
!firefox-extension/popup.css
!firefox-extension/popup.html
!firefox-extension/popup.js
!firefox-extension/icons/
!firefox-extension/icons/wavi.svg

!screenshots/
!screenshots/main1.png
!screenshots/main2.png
!screenshots/main3.png
!screenshots/main4.png
!screenshots/main5.png
!screenshots/main6.png
!screenshots/main7.png