*

!gui.py
!script-gallerydl.ps1
!script-webcapture.ps1
!script-webcapture.ts
!script-ytdlp.ps1
!README.md
!LICENSE
!.gitattributes
!.gitignore

!screenshots/
!screenshots/main1.png
!screenshots/main2.png
!screenshots/main3.png
!screenshots/main4.png
!screenshots/main5.png
!screenshots/main6.png